In [1]:
pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\users\smhrd\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [177]:
import pymysql

In [ ]:
# 참고 사이트
# https://www.fun-coding.org/mysql_advanced1.html

In [196]:
# 접속
db = pymysql.connect(host='project-db-stu.ddns.net', port=3307, user='support24', password='support24', db='support24', charset='utf8')

In [197]:
# 커서 가져오기
cursor = db.cursor()

In [ ]:
#  sql문 실행하면 변동할때마다(insert, update, delete)코드붙여야함
db.commit()

In [ ]:
# DB 연결 닫기 크롤러 하나끝날때마다 닫기해줘야할듯 (시간이 조금 경과하면 db연결이 해제되어버림)
db.close()

In [ ]:
# 주의사항 크롤링 한번할때마다 시간이 조금경과하면 db접속해제하니 크롤러마다 접속해서 커서가져오는 코드 반복해야함

In [ ]:
# 의논사항 크롤러마다 변수명이 달라서 통일이 필요!

In [ ]:
# SQL문
# sql = '''
#            CREATE TABLE korea2 (
#                   id INT UNSIGNED NOT NULL AUTO_INCREMENT,
#                   name VARCHAR(20) NOT NULL,
#                   model_num VARCHAR(10) NOT NULL,
#                   model_type VARCHAR(10) NOT NULL,
#                   PRIMARY KEY(id)
#            );
#        '''

In [ ]:
# 값을 직접 db 입력할때 sql
#sql = "INSERT INTO tbl_member(mb_email, mb_id, mb_name, mb_pw) values('1', 'seoul', 'abc', 'asdf')"
#cursor.execute(sql)

In [89]:
# 값을 변수로 db에 입력할떄 sql
#data = (('1','abc','2e2','sdfg'),('2','wbc','3e2','gdfg'),('3','atc','7e2','idfg'),)
#sql = "insert into tbl_member(mb_email, mb_id, mb_name, mb_pw) values(%s, %s, %s, %s)"
#cursor.executemany(sql,data)

3

In [201]:
# 크롤링한 자료를 그대로 db입력할떄
#sql = "insert ignore into tbl_test(t_name) values(%s)"
#cursor.executemany(sql,name_list)

36

In [ ]:
# 클라이언트에서 INSERT 시 한글이 깨지지 않도록 다음 SQL 실행이 필요함
# cursor = db.cursor()
# cursor.execute("set names utf8")
# cur.execute("insert into tbl values('','한글')
# db.commit()

In [ ]:
#https://wikidocs.net/13#_14
# number = 10
# day = "three"
# "I ate %d apples. so I was sick for %s days." % (number, day)
# 'I ate 10 apples. so I was sick for three days.'

In [ ]:
# "I eat %s apples." % "five"
# 'I eat five apples.'

In [ ]:
# sql = "insert into jenga_search(title, link, descriptions) values(%s,%s,%s)"
# curs.execute(sql, (i['title'] ,i['link'], i['description']))

In [ ]:
# http://pythonstudy.xyz/python/article/202-MySQL-%EC%BF%BC%EB%A6%AC
# Parameter Placeholder로 %s 를 사용하는데, 이 %s 는 일반 문자열 포맷팅에 사용하는 %s, %d 등과는 다른 것이다. Parameter Placeholder에서는 문자열이건 숫자이건 모두 %s 를 사용하며, 문자열이라도 %s를 인용부호로 둘러싸지 않는다. 
# 또한 한가지 주의할 점은 Placeholder는 컬럼값을 대치할 때만 사용될 수 있다. 즉 테이블이나 기타 문장에 Placeholder 를 사용할 수 없다.

In [ ]:
# 참고 사이트
# https://www.fun-coding.org/mysql_advanced1.html